#modifier-info {background-color: rgb(84, 196, 84);}
#a-propos {background-color: rgb(101, 157, 221);}
#ouvrir-projet {background-color: rgb(236, 247, 81);}
#creer-projet {background-color: rgb(253, 42, 42);}
#creer-projet {background-color: rgb(253, 42, 42);}

 

.banniere {
    background-color: white;
    color : #2E7590;
    text-align: center;
    font-family: 'Arial', sans-serif;
    align-items: center;
    height: 120px;
    display: flex;
    position: relative;
}

.banniere p {
    margin-top: 50px;
    font-size: 40px;
    position: absolute;
    width: 100%;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.button-container {
    display: flex;
}

.button {
    margin-top: 20px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
    border-radius: 0;
    
}




.logo {
    position: absolute;
    left: 20px;
    width: 100px;
    height: 100px;
}

.hr {
    border : none;
    height: 5px;
    background-color: #2E7590;
    margin : 0;
}

.titre {
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;

}


@media (max-width: 600px) {
    .button {
        padding: 12px 0; 
        font-size: 14px;
        flex-grow: 1;
    }
    .button-container {
        flex-wrap: wrap;
    }
}


.modal {
    display: none; 
    position: fixed;

    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
*body {
    font-family: Arial, sans-serif;
    padding: 20px;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    display: flex; 
    align-items: center;
}

.logo img {
    width: 120px;
    height: 113px;
}

.title {
    font-size: 24px;
    color: #2E7590;
    text-align: center;
    flex-grow: 1; 
}

hr {
    margin: 0;
    border: none;
    border-top: 3px solid #2E7590;
}


.container {
    margin: 100px auto;
    width: 450px;
    text-align: center;
}
.login-box {
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9); 
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-box button {
    width: 150px;
    padding: 10px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #236D92;
}

.login-box button:hover {
    background-color: #135467;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

