.action {
    margin-top: 0px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
    border-radius: 0;
    
}

.action-container {
    display: flex;
}

#routage {background-color: rgb(84, 196, 84);}
#ajouter {background-color: rgb(101, 157, 221);}
#modifier {background-color: rgb(236, 247, 81);}
#supprimer {background-color: rgb(253, 42, 42);}


.banniere {
    background-color: white;
    color : #2E7590;
    text-align: center;
    font-family: 'Roboto';
    align-items: center;
    height: 100px;
    display: flex;
    position: relative;
}

.banniere p {
    margin-top: 50px;
    font-size: 40px;
    position: absolute;
    width: 100%;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.button-container {
    display: flex;
}

.button {
    margin-top: 20px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
    border-radius: 0;
    
}


html, body {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    left: 20px;
    width: 100px;
    height: 100px;
}

.hr {
    border : none;
    height: 5px;
    background-color: #2E7590;
    margin : 0;
}

.titre {
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;

}


@media (max-width: 600px) {
    .button {
        padding: 12px 0; 
        font-size: 14px;
        flex-grow: 1;
    }
    .button-container {
        flex-wrap: wrap;
    }
}

